.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    button{
        color: white;
        font-weight: 700;
        background: none;
        border: none;
        width: 20%;
        cursor: pointer;
        font-size: 16px;

        &.active{
            border-bottom: 2px solid blue;
        }
    }
}