.login-container {
    width: 100vw;
    height: 100vh;
  
    background-image: url(../../assets/pawel-czerwinski-dgJT71cXlC4-unsplash.jpg);
    background-size: cover;
    background-position: center;
  
    .dimm {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.394);
      display: flex;
      flex-direction: row;
      gap: 2rem;
  
      .left-login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 30%;
        border-radius: 10px;
        margin: auto;
        padding-left: 2rem;
        justify-content: space-between;

        .right-head{
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 5rem;
          justify-content: space-between;
          margin-top: 1rem;

          .text{
            display: flex;
            gap: .1rem;
            width: 20%;

            p{
              color: white;
              font-weight: 900;
              margin-right: 1rem;
              font-size: 13px;
            }
          }


          .header-image{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgb(120, 115, 115);
            border-radius: 5px;
            img{
              width: 3rem;
            }

            .text{
              width: 100%;

              p{
                color: white;
                font-size: 12px;
              }
            }
          }
        }

        .middle{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 60vh;
          width: 100%;
          background-color: black;
          border-radius: 10px;
          margin: auto;
          padding-left: 2rem;
  
        }

        #login-as-admin{
          display: grid;
          place-items: center;
          height: 3rem;
          color: black;
        }
  
        h1 {
          font-size: 2rem;
          color: white;
        }
  
        h2 {
          font-size: 2.5rem;
          color: white;
          margin-bottom: 1rem;
        }
  
        h3 {
          font-size: 1rem;
          color: white;
          margin-bottom: 1rem;
        }
  
        .login-form {
          display: flex;
          flex-direction: column;
          width: 90%;
          margin-top: 1rem;
          gap: .5rem;
  
          label {
            color: white;
            font-size: 1rem;
          }
  
          input {
            background-color: #ffba00;
            border: none;
            height: 2rem;
            border-radius: 5px;
            padding-left: 1rem;


          }
  
          .rmber-frgt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
  
            .remember {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
  
            button{
              background: none;
              border: none;
              color: white;
              cursor: pointer;
            }
          }
  
          .btn{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
  
              button{
                  width: 40%;
                  height: 2rem;
                  cursor: pointer;
                  border-radius: 5px;
                  border: none;
                  background-color: #ffba00;
                  transition: 1s;
                  font-weight: 600;
  
                  &:hover{
                      background-color: #03a010;
                  }
              }
          }
        }
      }
  
      .right-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
        width: 30%;
        margin: auto;
        background-image: url(../../assets/ryan-shumway--n5F3fH0lIY-unsplash.jpg);
        background-size: contain;
        border-radius: 5px;
        cursor: pointer;

        .execellence{
          display: flex;
          align-items: center;
          z-index: 12;

          h1{
            color: black;
            font-weight: 900;
            font-size: 90px;
          }

          p{
            font-weight: 700;
          }
        }
        .company-name{
          display: flex;
          flex-direction: column;
          z-index: 12;
          h1{
            color: black;
            font-weight: 900;
            font-size: 90px;

            color: #0000003e; /* Text color */
            -webkit-text-stroke: 1px #000; /* Stroke color and width */
            text-stroke: 1px #000; /* Stroke color and width */
          }
        }

        .terms{
          display: flex;
          gap: 1rem;
          z-index: 12;
        }
      }
    }
  }
  