.dashboard-container{
    display: flex;

    .sidenav{
        width: 10vw;
    }
    .routes-container{
        width: 87vw;
        height: 90vh;
        margin: auto;
        background-color: #210440;
        border-radius: 10px;
        padding: 1rem;
    }
}